<h1> <%= @person.full_name%> </h1>
<hr />
<h4>Age: <%= @person.age %> </h4>
<h4>Hair color: <%= @person.hair_color %> </h4>
<h4>Eye color: <%= @person.eye_color %> </h4>
<h4>Gender: <%= @person.gender %> </h4>
<h4>
<% if @person.alive == true %> 
Alive
<%else%>
Deceased
<%end%> </h4>

<h3> <%= link_to "Back To Index", people_path %> </h3>